<div class="blog-post">
  <img src="assets/b1.jpeg" alt="Spiritual India">
  <div class="blog-text">
    <h2>Discover Spiritual India with Shree Puja Travels</h2>
    <p>
      From the ghats of <strong>Varanasi</strong> to the temples of South India, explore the spiritual side of India with comfort and devotion.
      <strong>Shree Puja Travels</strong> offers well-planned <strong>pilgrimages</strong> that connect your soul with sacred destinations.
    </p>
  </div>
</div>
<div class="blog-post1">
    <div class="blog-text1">
       <h1> Scenic Road Trips That Refresh the Soul</h1>

        <p>
            Take the road less traveled! Whether it’s the misty hills of Ooty or the lush greenery of Coorg, our road trips are designed for <strong>relaxation</strong>, <strong>discovery</strong> and <strong>unforgettable memories</strong>.
        </p>
    </div>
    <img src="assets/b2.jpeg" alt="">
</div>



