<div class="blog-post">
  <img src="assets/b5.jpeg" alt="Spiritual India">
  <div class="blog-text">
  <h1> Exploring India’s Hidden Gems: Our Travel Recommendations</h1>
        <p>
                    We go beyond tourist hotspots to show you places with authentic culture and untouched beauty. Read our handpicked recommendations for offbeat travel experiences in India.
        </p>
    
  </div>
</div>
<div class="blog-post1">
    <div class="blog-text1">
       <h1>How to Plan a Hassle-Free Pilgrimage Tour with Us</h1>

        <p>
            Worried about <strong>accommodation</strong>, <strong>transportation</strong>, or <strong>itinerary</strong>? Let us handle it all. This blog guides you on how <strong>Shree Puja Travels</strong> ensures <strong>smooth, comfortable, and sacred pilgrim</strong> tours across India.
        </p>
    </div>
    <img src="assets/b6.jpeg" alt="">
</div>



