.blank {
  height: 100px;
  background-color: red;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(to bottom, red, black);
  color: white;
  padding: 60px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-section h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  opacity: 0;
  font-family: 'exo 2';
  animation: fadein 1.5s ease-in-out   forwards ;
}
 
@keyframes fadein {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/* Promo Banner Section */
.promo-banner {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap: 20px;
  text-align: center;
}

.promo-img {
  width: 100%;
  /* max-width: 480px; */
  border-radius: 12px;
  /* border: 3px solid red; */
  /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.2); */
  transition: transform 0.3s ease;
  opacity: 0;
   animation: fadein 1.5s ease-in-out 0.25s  forwards ;
}

.promo-img:hover {
  transform: scale(1.02);
}

/* Book Now Button */
.hero-btn {
  background: red;
  color: white;
  border: 2px solid red;
  padding: 14px 40px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
   animation: fadein 1.5s ease-in-out 0.5s  forwards ;
}

.hero-btn:hover {
  background: white;
  color: red;
  border: 2px solid white;
}

/* Responsive */
@media (max-width: 600px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-btn {
    padding: 12px 28px;
    font-size: 0.95rem;
  }

  .promo-img {
    width: 90%;
  }
}