.blank{
    height: 120px;
    background-color: red;
}



.hero-section {
  background: linear-gradient(to bottom, red, black);
  color: white;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  /* flex-direction: column; */
  /* font-family: 'Exo 2', ; */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
    font-family: 'exo 2';
}
.promo-video-section {
  background-color: #000000;
  padding: 40px 20px;
  text-align: center;
  font-family: 'exo 2';
}

.promo-video-section h2 {
  color: red;
  font-size: 2em;
  margin-bottom: 20px;
}
.bg{
    background-color: #000000;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

.img {
  width: 100%;
  max-width: 300px;
  /* border: 4px solid black; */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.hero-btn {
  background-color: white;
  color: red;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
}

.hero-btn:hover {
  background-color: red;
  color: white;
}