<div>
    <h1>About Us</h1>
    <p><strong><em>Welcome to Shree Puja Travels </em></strong> — Hyderabad’s trusted partner in <strong>premium and affordable travel solutions</strong>. With a deep-rooted commitment to customer service and years of experience in the travel industry, we specialize in providing <strong>well-maintained vehicles, professional drivers</strong>, and <strong>tailor-made travel experiences</strong> for every kind of journey — be it for <strong>business, leisure, pilgrimage, or family vacations</strong>.</p>

    <br><br>
    <p><strong>click below </strong>to download our brochure</p>
    <br>
   <a href="assets\Shree Puja Travels.pdf" class="btn"> Download brochure</a>
</div>
