<section class="promo-video-section">
  <h2>Explore Our Rides in Action</h2>
 
  <video autoplay loop  muted class="promo-video">
    <source src="assets/video1.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

</section>

<div class="con">
    <img src="assets/hposter3.png" alt="">
    <div class="text">
       <p> <span><strong>Welcome to <em>Shree Puja Travels</em></strong></span> – Your Trusted Travel Partner in Hyderabad

At <strong>Shree Puja Travels</strong>, we believe that every journey should be <strong> smooth</strong>, <strong>safe</strong>, and <strong>memorable</strong>. Based in <strong>Hyderabad</strong>, we offer professional car rental services for all your travel needs—be it a quick <strong>city ride</strong>, an <strong>outstation getaway</strong>, or a <strong>spiritual pilgrimage</strong>. With a wide fleet of vehicles ranging from <strong>Sedans, SUVs, Innova Crysta, Tempo Travellers, Urbania to Luxury Cars</strong>, we ensure there’s a perfect ride for everyone.

Whether you're traveling for <strong>business</strong>, with <strong>family</strong>, or as a <strong>large group</strong>, our chauffeur-driven services ensure you ride in comfort and reach your destination on time.</p>
    </div>
</div>
