<div class="backdrop" (click)="handleClose()"></div>
<div class="sidebar" >
  <button class="close-btn" (click)="handleClose()">×</button>
  <a routerLink="/" (click)="handleClose()">Home</a>
  <a routerLink="/about" (click)="handleClose()">About Us</a>
  <a routerLink="/services" (click)="handleClose()">Our Services</a>
  <a routerLink="/blog" (click)="handleClose()">Blogs</a>
  <!-- <a routerLink="/contact-us" (click)="handleClose()">Contact Us</a> -->

   <div class="social-icons">
       
        <a href="https://www.instagram.com/shree_puja_travels?igsh=MWR4Z2tpeXdndTRiNA=="><i class="fa-brands fa-instagram" style="color: rgb(240, 19, 229);"></i> Instagram</a>
      </div><br><br>
      <p>Call:- <strong>+91 9100390049</strong></p>
      <br>
  <!-- <button class="sign-in-btn">Sign in</button> -->
  <button class="contact-btn" (click)="goTo()">Contact Us</button>
</div>
