<div class="con">
    <img src="assets/s3.png" alt="">
    <div class="text">
       <p>
         Planning an outstation trip from Hyderabad? Shree Puja Travels is your one-stop solution for safe, affordable, and comfortable rides to top destinations like:
       </p>

<p>👉 Vijayawada | Rameshwaram | Rajahmundry</p>
<p>👉 Bangalore | Tirupati | Nellore | Vizag</p>


<p>
  We offer 24/7 cab services with clean vehicles, professional drivers, and on-time pickups. Whether it’s a pilgrimage, business trip, or vacation – Shree Puja Travels ensures a smooth ride experience every time.  
</p>
    </div>
</div>
