<div class="con">
    <div class="text">
        <h1>Explore Places with Their Alternate Names – A Unique Travel Twist!</h1><br>
        <p>
            At UnclearTrips, we believe every destination has a story—and sometimes, even multiple names! From the serene hills of Ooty, traditionally known as Udhagamandalam, to the sacred city of Varanasi, also revered as Kashi, each place carries cultural depth and historical charm.
            <br><br>
            Did you know that Coorg is also called Kodagu, Lonavala is known as Lonavali, and Mysore is locally referred to as Mysuru? These alternate names reflect the rich heritage and linguistic diversity of India, offering a deeper connection to the places you visit.
            <br><br>
            Let us take you beyond maps and guidebooks. Rediscover popular destinations through their traditional names and timeless experiences.
            Book your journey with UnclearTrips and travel a little deeper.
        </p>
    </div>
    <img src="assets/s9.png" alt="">
</div>
